@model IEnumerable<bs.Models.Location>

@{
    ViewData["Title"] = "Lugares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="mt-4 mb-4 pb-3 fw-bold">Lugares</h3>

    <div class="hstack gap-3 mb-2">
        <div>
            <a type="button" class="btn btn-outline-success col-12" asp-action="Create"><span class="p-1 m-1 " data-feather="plus-circle"></span>Ingresar nuevo lugar</a>
        </div>
        <div class="ms-auto">
            <form asp-action="Index" asp-controller="Locations" method="get" class="row row-cols-lg-auto g-3 align-items-center">
                <span data-feather="filter" class="opacity-50 p-1"></span>

                <div class="col-md-12">
                    <input type="text" name="searchString" class="form-control" placeholder="Buscar departamento..." />
                </div>

                <button type="submit" class="btn btn-secondary text-light p-1">
                    <span class="p-1" data-feather="search"></span>
                    
                </button>
                <div>
                    <div class="vr"></div>
                </div>
                <a class="text-decoration-none link-dark" asp-action="Index">Regresar</a>

            </form>
            
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="small">
                <tr>
                    <th class="col col-1"></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Locations)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartamentName)
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            <a class="text-black p-3 opacity-50" asp-action="Edit" asp-route-id="@item.LocationId"><span data-feather="settings"></span></a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Locations)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TownName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartamentName)
                        </td>


                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


