@model IEnumerable<bs.Models.Uninterruptible>

@{
    ViewData["Title"] = "UPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3 class="mt-4 mb-4 pb-3 fw-bold">UPS</h3>

    <p>
        <a type="button" class="btn btn-outline-success" asp-action="Create"><span class="p-1 m-1 " data-feather="plus-circle"></span>Ingresar nuevo UPS</a>
</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="small">
        <tr>
                    <th class="col col-1"></th>
            
            <th>
                @Html.DisplayNameFor(model => model.UpsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpsModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpsPower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpsManageable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpsModules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpsBatteries)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Agency)
             </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>

                            <a class="text-black p-3 opacity-50" asp-action="Edit" asp-route-id="@item.UpsId"><span data-feather="settings"></span></a>

             </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.UpsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpsModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpsPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpsManageable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpsModules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpsBatteries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.AgencyName)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
