@model IEnumerable<bs.Models.Agency>

@{
    ViewData["Title"] = "Agencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3 class="mt-4 mb-4 pb-3 fw-bold">Agencias</h3>

    <p>
        <a type="button" class="btn btn-outline-success" asp-action="Create"><span class="p-1 m-1 " data-feather="plus-circle"></span>Ingresar nueva agencia</a>
    </p>

    <div class="table-responsive">

        <table class="table table-striped">
            <thead class="small">
        <tr>
                    <th class="col col-1"></th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AgencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyType)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>

                            <a class="text-black p-3 opacity-50" asp-action="Edit" asp-route-id="@item.AgencyId"><span data-feather="settings"></span></a>

           </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AgencyName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.TownName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyType)
            </td>
           
        </tr>
}
    </tbody>
</table>
    </div>
</div>
