@model bs.Models.BatteryChange

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BatteryChange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agency.AgencyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uninterruptible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uninterruptible.UpsModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryChangeComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryChangeComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModulesInst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModulesInst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteriesInst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteriesInst)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BatteryChangeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
