@model IEnumerable<bs.Models.BatteryChange>

@{
    ViewData["Title"] = "Cambios de baterías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3 class="mt-4 mb-4 pb-3 fw-bold">Lista de cambios de baterías</h3>

    

    <div class="table-responsive">

        <table class="table table-striped">
            <thead class="small">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uninterruptible.UpsName)
            </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Uninterruptible.UpsModel)
                    </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryChangeComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModulesInst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteriesInst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.AgencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uninterruptible.UpsName)
            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uninterruptible.UpsModel)
                        </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryChangeComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModulesInst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteriesInst)
            </td>
                        <td>

                            <a class="text-black p-3 opacity-50" asp-action="Delete" asp-route-id="@item.BatteryChangeId"><span data-feather="trash-2"></span></a>

                        </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>