@model bs.Models.ViewModels.BCFilterViewModel

@{
    ViewData["Title"] = "Cambios de baterías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="row">
        <h3 class="mt-4 mb-4 pb-3 fw-bold col-md-4">Lista de cambios de baterías</h3>
        <div class="col-md-7">

            <form asp-action="Index" asp-controller="BatteryChanges" method="get" class="row row-cols-lg-auto g-3 align-items-center m-2">
                <span data-feather="filter" class="opacity-50 p-1"></span>
                <div class="col-md-12">
                    
                        
                    
                        <select name="chosenFilter" asp-for="Filter" asp-items="Model.Columns" class="form-select" >
                            <option disabled selected>Filtrar por...</option>
                            
                            
                        </select>
                </div>
                <div class="col-md-12">
                    <input type="text" name="searchString" class="form-control" placeholder="Buscar..." value="@Model.SearchString" />
                </div>
                    
                <button type="submit" class="btn btn-secondary text-light p-1">
                    <span class="p-1" data-feather="search"></span>
                </button>
                <div>
                    <div class="vr"></div>
                </div>
                <a class="text-decoration-none link-dark" asp-action="Index">Regresar</a>


            </form>
        </div>

    </div>


    <div class="table-responsive">

        <table class="table table-striped">
            <thead class="small">
                <tr>
                    <th>
                        Agencia
                    </th>
                    <th>
                        Localidad
                    </th>
                    <th>
                        Nombre del UPS
                    </th>
                    <th>
                        Modelo del UPS
                    </th>
                    <th>
                        Último cambio de baterías
                    </th>
                    <th>
                        Comentarios
                    </th>
                    <th>
                        Próximo cambio de baterías
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BatteryChanges)
                {
                    <tr class="text-nowrap">
                        <td>
                            @Html.DisplayFor(modelItem => item.Agency.AgencyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Agency.Location.Locations)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uninterruptible.UpsName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uninterruptible.UpsModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatteryChangeDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatteryChangeComments)
                        </td>
                        <td class="fw-bold">
                            @Html.DisplayFor(modelItem => item.BatteryChangeNext)
                        </td>

                        <td>

                            <a class="text-black p-3 opacity-50" asp-action="Delete" asp-route-id="@item.BatteryChangeId"><span data-feather="trash-2"></span></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>
</div>
