@model IEnumerable<bs.Models.BatteryChange>

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int validateNull = 0;
}

<div class="container">
    <div class="row">
        <h3 class="mt-4 mb-4 pb-3 fw-bold col-md-5">Cambios necesarios para el año <br><span class="text-danger">@DateTime.Today.Year</span></h3>
        @if (DateTime.Today.Month == 1 && DateTime.Today.Day <= 7)
        {
            <div class="alert alert-info alert-dismissible fade show col-md-5 m-sm-auto" role="alert">
                <strong>¡Primera semana del año!</strong> Recuerda agregar tus cambios de batería con las fechas correspondientes al día de cambio.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>

    <div class="table-responsive">

        <table class="table table-striped">
            <thead class="small">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Agency)</th>
                    <th>@Html.DisplayNameFor(model => model.Agency.Location.Locations)</th>
                    <th>Último cambio de baterías</th>

                    <th>@Html.DisplayNameFor(model => model.Uninterruptible.UpsName)</th>
                    <th>@Html.DisplayNameFor(model => model.Uninterruptible.UpsModel)</th>
                    <th>@Html.DisplayNameFor(model => model.BatteryChangeNext)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    

                    @foreach (var item in Model)
                    {


                        <tr class="text-nowrap">
                            <td>
                                @Html.DisplayFor(modelItem => item.Agency.AgencyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Agency.Location.Locations)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BatteryChangeDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Uninterruptible.UpsName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Uninterruptible.UpsModel)
                            </td>
                            <td class="fw-bolder text-danger">
                                @Html.DisplayFor(modelItem => item.BatteryChangeNext)
                            </td>

                            <td>

                                <a asp-action="CreateID" class="text-decoration-none text-success" asp-route-id="@item.UpsId"><span data-feather="plus-square" class="p-1"></span>Agregar cambio</a>

                            </td>
                        </tr>
                        if (item!= null)
                        {
                            validateNull++; 
                        }
                        else
                        {
                            validateNull = 0;    
                        }
                    }
                    }
                 
            </tbody>
        </table>
        @if (validateNull == 0) { 
        
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <span data-feather="check-circle" class=" flex-shrink-0 me-2" width="24" height="24" aria-label="Info:"></span>
                <div>
                    <strong>¡Limpio!</strong> No hay cambios necesarios.
                </div>
            </div>
        }
    </div>
</div>